
.login-container {
    max-width: 480px;
    margin: 0 auto;
    padding: 5rem 1rem;
}

.login-card {
    border-radius: 10px;
    border: 1px solid var(--alabaster-grey);
    box-shadow: 0 6px 18px rgba(0,0,0,0.04);
}

.login-divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--ink-black);
    line-height: 0.1em;
    margin: 20px 0;
}

.login-divider span {
    background: #fff;
    padding: 0 10px;
    color: var(--text-dark);
    font-weight: 600;
}

.btn-primary{
    border-color: var(--dusk-blue);
    background-color: var(--dusk-blue);
}

.btn-primary:hover{
    border-color: var(--ink-black);
    background-color: var(--ink-black);
}

.btn-outline-secondary {
    background-color: #fff;
    border-color: #6c757d;
}
.btn-outline-secondary:hover {
    background-color: var(--ink-black);
    border-color:var(--ink-black);
    color: #fff;
}