POSTGRES_DB=db_example
POSTGRES_USER=user_example
POSTGRES_PASSWORD=user_password_example
POSTGRES_HOST=host_example
POSTGRES_PORT=port_example
POSTGRES_SSLMODE=require
POSTGRES_CHANNEL_BINDING=require

DATABASE_URL=example_database_url
STRIPE_PUBLIC_KEY=example_stripe_public_key
STRIPE_SECRET_KEY=example_stripe_secret_key
STRIPE_WEBHOOK_SECRET=example_stripe_webhook_secret

EMAIL_HOST_USER=example_host_user
EMAIL_HOST_PASSWORD=example_host_password
DEFAULT_FROM_EMAIL=example_default_from_email