{% load static %}
<footer class="custom-footer mt-auto py-3 py-lg-4">
  <div class="container">
    <div class="row">
      <div class="col-6 col-xl-3">
        <h5>Bristol Regional Food Network</h5>
        <p>Supporting local producers and sustainable food systems.</p>
      </div>

      <div class="col-6 col-xl-3">
        <h5>Information</h5>
        <ul class="list-unstyled">
          <li><a href="/about/" class="text-light">About Us</a></li>
          <li><a href="/sustainability/" class="text-light">Food Miles</a></li>
          <li>
            <a href="/certification/" class="text-light"
              >Organic Certification</a
            >
          </li>
         
        </ul>
      </div>

      <div class="col-6 col-xl-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/help/customers/" class="text-light">Customer Help</a>
          </li>
          <li>
            <a href="/help/producers/" class="text-light">Producer Help</a>
          </li>
          <li><a href="{% url 'community:contact_us' %}" class="text-light">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-6 col-xl-3">
        <h5>Legal</h5>
        <ul class="list-unstyled">
          <li><a href="/terms/" class="text-light">Terms & Conditions</a></li>
          <li><a href="/privacy/" class="text-light">Privacy Policy</a></li>
           <li><a href="/cookie-policy/" class="text-light">Cookie Policy</a>
</li>
        </ul>
      </div>
    </div>

    <div class="text-center mt-3">© 2026 Bristol Regional Food Network</div>
  </div>
</footer>