{% load static %}
<footer class="custom-footer mt-auto py-3 py-lg-4">
  <div class="container">
    <div class="row">
      <div class="col-6 col-xl-3">
        <h5>Bristol Regional Food Network</h5>
        <p>Supporting local producers and sustainable food systems.</p>
      </div>
      <div class="col-6 col-xl-3">
        <h5>Information</h5>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'community:about' %}" class="text-light">About Us</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-xl-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'community:contact_us' %}" class="text-light">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-xl-3">
        <h5>Legal</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/cookie-policy/" class="text-light">Cookie Policy</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-3">© 2026 Bristol Regional Food Network</div>
  </div>
</footer>
